---
layout: default
---
<section id="portfolio">
  <ul>
    {% for project in site.projects %}
    <li>
      {% if project.thumbnail %}
      <img src="{{ site.static_url }}thumbnails/{{ project.thumbnail }}"/>
      {% endif %}
      <div class="projectDescription">
        <h1>{{ project.title }}</h1>
        <h2>{{ project.subtitle }}</h2>
        <p>{{ project.content }}</p>
        <a class="redLink" href="{{ project.link }}"><span class="line"></span>joan proiektura</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<section id="services">
  <ul>
    <li class="service">
      <img src="{{ site.baseurl }}images/web.svg"/>
      <h1>web diseinua</h1>
      <ul>
        <li>Web diseinua</li>
        <li>Blog diseinua</li>
        <li>Denda online diseinua</li>
      </ul>
    </li>
    <li class="service">
      <img src="{{ site.baseurl }}images/graphic.svg"/>
      <h1>diseinu grafikoa</h1>
      <ul>
        <li>Identita korporatiboak</li>
        <li>Karteleria</li>
        <li>Seinaleak eta errotulazioa</li>
        <li>Liburuen eta ebooken maketazioa</li>
        <li>Erakuslehioen diseinua</li>
        <li>Merchandising</li>
      </ul>
    </li>
    <li class="service">
      <img src="{{ site.baseurl }}images/multimedia.svg"/>
      <h1>multimedia</h1>
      <ul>
        <li>Argazkigintza</li>
        <li>Infografiak</li>
        <li>Aurkezpenak</li>
      </ul>
    </li>
    <li class="service">
      <img src="{{ site.baseurl }}images/formation.svg"/>
      <h1>aholkularitza eta formakuntza</h1>
      <ul>
        <li>Lizentzien aholkularitza</li>
        <li>Diseinu grafikoa software askean formakuntza</li>
        <li>Argazkien ukitzean formakuntza</li>
        <li>Web diseinuan formakuntza</li>
      </ul>
    </li>
  </ul>
</section>

<section id="about">
  <img src="{{ site.baseurl }}images/me.svg" />
  <h1>Iune Trecet Obeso</h1>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada enim velit, ut laoreet arcu tincidunt vel. Quisque non arcu commodo purus porta viverra. Mauris ac lacus odio. Nulla finibus lectus ac blandit vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum libero urna, ornare et ipsum eu, accumsan volutpat dolor. Proin vulputate fringilla quam sit amet dictum.</p>

  <p>Nullam quis mollis orci. Donec at enim ut ex pretium lacinia laoreet nec lacus. Phasellus semper pharetra turpis sit amet venenatis. Duis urna quam, rhoncus ut porta eu, condimentum et mi. Maecenas sollicitudin, velit eget consequat convallis, ligula nulla placerat elit, et dignissim eros ex eget lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi vitae pellentesque dolor. Proin et porta tortor, nec luctus orci. Ut interdum eros eget arcu scelerisque, quis ornare mauris cursus. Donec libero arcu, placerat id lacinia rhoncus, blandit maximus magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed varius tellus sed neque consequat consectetur.</p>
  <ul>
    <li><img src="{{ site.baseurl }}images/debian.svg" alt="debian" /></li>
    <li><img src="{{ site.baseurl }}images/copyleft.svg" alt="copyleft" /></li>
    <li><img src="{{ site.baseurl }}images/caligraphy.svg" alt="caligraphy" /></li>
    <li><img src="{{ site.baseurl }}images/serigraph.svg" alt="serigraph" /></li>
    <li><img src="{{ site.baseurl }}images/craft.svg" alt="craft" /></li>
    <li><img src="{{ site.baseurl }}images/coffee.svg" alt="coffee" /></li>
    <li><img src="{{ site.baseurl }}images/driving.svg" alt="driving" /></li>
    <li><img src="{{ site.baseurl }}images/series.svg" alt="series" /></li>
  </ul>
</section>

<section id="lab">
  <img src="{{ site.baseurl }}images/lab.svg" />
  <ul>
    <li><a href="">This is a post</a></li>
    <li><a href="">This is a post</a></li>
    <li><a href="">This is a post</a></li>
    <li><a href="">This is a post</a></li>
    <li><a class="redLink" href=""><span class="line"></span>Ikusi esperimentu gehiago</a>
  </ul>
</section>

<section id="contact">
  <h1>Diseinuren bat behar al duzu?</h1>
  <a href="mailto:contact@iune.info">idatzi nazazu!</a>
</section>
