body
  margin: 0
  font-family: $sans
  position: relative
  font-size: 1rem
  background: white

img
  border: none

ul.iconList
  padding: 0
  font-size: 0
  li
    list-style: none
    display: inline-block
    width: 12.5%
    padding: 3%
    vertical-align: middle
    font-size: 1rem
    img
      width: 100% !important
