header
  box-sizing: border-box
  position: absolute
  top: 0
  right: 0
  width: 100%
  @media #{$small-only}
    position: static
  img#logo
    position: absolute
    top: 0
    left: 0
    width: 15%
    padding: .5em
    @media #{$small-only}
      position: static
      width: 100%
      padding: 10%
  ul#social
    position: absolute
    top: 0
    right: 0
    width: 40%
    text-align: right
    padding: 0 .7%
    @media #{$small-only}
      position: static
      width: 100%
      text-align: center
    li
      list-style: none
      display: inline-block
      vertical-align: middle
      padding: .5%
      a
        color: black
        font-family: $smallcaps
        text-decoration: none
        font-weight: bold
        font-size: 1.6em
        vertical-align: middle
      img
        width: 1.5em

