section#home
  width: 100%
  height: 100vh
  top: 0
  right: 0
  font-size: 0
  @media #{$small-only}
    height: auto
    padding: 1rem
  #homeText, #homeImage
    display: inline-block
    width: 50%
    padding: 0 3%
    vertical-align: bottom
    @media #{$small-only}
      width: 100%
  #homeText
    font-size: 1rem
    color: white
    h1
      font-size: 4em
      margin: 1rem 0
      font-weight: normal
      @media #{$small-only}
        font-size: 2.5em
    p
      font-size: 1.05em
      margin-bottom: 2%
  #homeImage
    height: 98vh
    img
      height: 99%
      margin: 1% auto 0 auto
      display: block
    @media #{$small-only}
      display: none
