section#project
  min-height: 79vh
  background: $darkgrey
  color: white
  padding: 2vh 0
  .projectDescription
    text-align: right
    display: inline-block
    float: none
    width: 49%
    vertical-align: middle
  img
    margin: 0
    max-width: 50%
    padding-right: .5%
    max-height: 90vh
    vertical-align: middle
    display: inline-block
  .license
    color: $lightred
