#services
  margin-top: -9rem
  ul
    padding: 0 10% 5% 10%
    margin: 0
    +grid-row
    li.service
      +grid-column(3)
      @media #{$small-only}
        +grid-column(12)
    li
      list-style: none
      text-align: center
      font-size: 1.1em
      color: $grey
      padding: .2em
    h1
      font-family: $smallcaps
      font-size: 1.4rem
      height: 2rem
      color: black
