#services
  background: white
  ul
    padding: 5% 10%
    +grid-row
    li.service
      +grid-column(3)
    li
      list-style: none
      text-align: center
      font-size: 1.1em
      color: $grey
      padding: .2em
    h1
      font-family: $smallcaps
      font-size: 1.4rem
      height: 2rem
      color: black
