---
layout: default
---
{% include nav.html %}


<section class="aboutme">
  {{ content }}
</section>
<section class="writeme">
  <p>Nirekin kontaktuan jarri nahi duzu?</p>
  <a href="mailto:contact@iune.info">Idatz nazazu!</a>
</section>

<section class="programs">
  <ul class="iconList">
    <li><a href="https://www.djangoproject.com/"><img src="{{ site.baseurl }}images/programs/django.svg" alt="django" /></a></li>
    <li><a href="https://inkscape.org"><img src="{{ site.baseurl }}images/programs/inkscape.svg" alt="inkscape" /></a></li>
    <li><a href="https://gimp.org"><img src="{{ site.baseurl }}images/programs/gimp.svg" alt="gimp" /></a></li>
    <li><a href="https://git-scm.com/"><img src="{{ site.baseurl }}images/programs/git.svg" alt="git" /></a></li>
    <li><a href="https://sass-lang.com"><img src="{{ site.baseurl }}images/programs/sass.svg" alt="sass" /></a></li>
    <li><a href="https://darktable.org"><img src="{{ site.baseurl }}images/programs/darktable.svg" alt="darktable" /></a></li>
    <li><a href="https://scribus.net"><img src="{{ site.baseurl }}images/programs/scribus.svg" alt="scribus" /></a></li>
  </ul>
</section>

