---
layout: default
---
{% include nav.html %}

<ul class="services">
  <li>
    <img src=""/>
    <h1>web diseinua</h1>
    <ul>
      <li>Web diseinua</li>
      <li>Blog diseinua</li>
      <li>Denda online diseinua</li>
      <li>Formakuntza</li>
    </ul>
  </li>
  <li>
    <img src=""/>
    <h1>diseinu grafikoa</h1>
    <ul>
      <li>Identitate korporatiboa</li>
      <li>Karteleria</li>
      <li>Seinaleak eta errotulazioa</li>
      <li>Liburu eta ebooken maketazioa</li>
      <li>Erakuslehioen diseinua</li>
      <li>Merchandisinga</li>
      <li>Formakuntza</li>
    </ul>
  </li>
  <li>
    <img src=""/>
    <h1>multimedia</h1>
    <ul>
      <li>Argazkigintza</li>:
      <li>Infografia</li>
      <li>Aurkezpenak</li>
      <li>Lizentzien aholkularitza</li>
    </ul>
  </li>
  <li>
    <img src=""/>
    <h1>diy</h1>
    <ul>
      <li>Serigrafia</li>
      <li>Joskintza</li>
      <li>Enkuadernazioa</li>
      <li>Tipografia</li>
    </ul>
  </li>
</ul>

<section class="programs">
  <h1>Programak</h1>
  <ul class="iconList">
    <li><a href="https://www.djangoproject.com/"><img src="{{ site.baseurl }}images/django.svg" alt="django" /><span>Django</span></a></li>
    <li><a href="https://sass-lang.com"><img src="{{ site.baseurl }}images/sass.svg" alt="sass" /><span>Sass</span></a></li>
    <li><a href="https://git-scm.com/"><img src="{{ site.baseurl }}images/git.svg" alt="git" /><span>Git</span></a></li>
    <li><a href="https://inkscape.org"><img src="{{ site.baseurl }}images/inkscape.svg" alt="inkscape" /><span>Inkscape</span></a></li>
    <li><a href="https://gimp.org"><img src="{{ site.baseurl }}images/gimp.svg" alt="gimp" /><span>Gimp</span></a></li>
    <li><a href="https://darktable.org"><img src="{{ site.baseurl }}images/darktable.svg" alt="darktable" /><span>Darktable</span></a></li>
    <li><a href="https://scribus.net"><img src="{{ site.baseurl }}images/scribus.svg" alt="scribus" /><span>Scribus</span></a></li>
  </ul>
</section>

<section class="aboutme">
</section>
