---
layout: default
---

<section id="home">
  <h2>{{ site.t[page.lang].home }}</h2>
</section>

<section id="services">
  <ul>
    <li class="service">
      <img src="{{ site.baseurl }}images/web.svg"/>
      <h1>{{ site.t[page.lang].webdesign }}</h1>
      <ul>
        <li>{{ site.t[page.lang].webdesign }}</li>
        <li>{{ site.t[page.lang].blogdesign }}</li>
        <li>{{ site.t[page.lang].shopdesign }}</li>
      </ul>
    </li>
    <li class="service">
      <img src="{{ site.baseurl }}images/graphic.svg"/>
      <h1>{{ site.t[page.lang].graphicdesign }}</h1>
      <ul>
        <li>{{ site.t[page.lang].identity }}</li>
        <li>{{ site.t[page.lang].poster }}</li>
        <li>{{ site.t[page.lang].signal }}</li>
        <li>{{ site.t[page.lang].book }}</li>
        <li>{{ site.t[page.lang].window }}</li>
        <li>{{ site.t[page.lang].merchandising }}</li>
      </ul>
    </li>
    <li class="service">
      <img src="{{ site.baseurl }}images/multimedia.svg"/>
      <h1>{{ site.t[page.lang].multimedia }}</h1>
      <ul>
        <li>{{ site.t[page.lang].photo }}</li>
        <li>{{ site.t[page.lang].infography }}</li>
        <li>{{ site.t[page.lang].presentation }}</li>
      </ul>
    </li>
    <li class="service">
      <img src="{{ site.baseurl }}images/formation.svg"/>
      <h1>{{ site.t[page.lang].formation }}</h1>
      <ul>
        <li>{{ site.t[page.lang].license }}</li>
        <li>{{ site.t[page.lang].freeformation }}</li>
        <li>{{ site.t[page.lang].photoformation }}</li>
        <li>{{ site.t[page.lang].webformation }}</li>
      </ul>
    </li>
  </ul>
</section>

<section id="portfolio">
  <ul>
    {% assign projects=site.projects | where:"lang", page.lang %}
    {% for project in projects %}
    <li>
      {% if project.thumbnail %}
      <img src="{{ site.static_url }}thumbnails/{{ project.thumbnail }}"/>
      {% endif %}
      <div class="projectDescription">
        <h1>{{ project.title }}</h1>
        <h2>{{ project.subtitle }}</h2>
        <p>{{ project.content }}</p>
        {% if project.link %}
        {% assign link = project.link %}
        {% else %}
        {% assign link = project.url %}
        {% endif %}
        <a class="redLink" href="{{ link }}"><span class="line"></span>{{ site.t[page.lang].goproject }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>


<section id="programs">
  <h1>{{ site.t[page.lang].program }}</h1>
  <ul class="iconList">
    <li><a href="https://www.djangoproject.com/"><img src="{{ site.baseurl }}images/django.svg" alt="django" /><span>Django</span></a></li>
    <li><a href="https://sass-lang.com"><img src="{{ site.baseurl }}images/sass.svg" alt="sass" /><span>Sass</span></a></li>
    <li><a href="https://git-scm.com/"><img src="{{ site.baseurl }}images/git.svg" alt="git" /><span>Git</span></a></li>
    <li><a href="https://inkscape.org"><img src="{{ site.baseurl }}images/inkscape.svg" alt="inkscape" /><span>Inkscape</span></a></li>
    <li><a href="https://gimp.org"><img src="{{ site.baseurl }}images/gimp.svg" alt="gimp" /><span>Gimp</span></a></li>
    <li><a href="https://darktable.org"><img src="{{ site.baseurl }}images/darktable.svg" alt="darktable" /><span>Darktable</span></a></li>
    <li><a href="https://scribus.net"><img src="{{ site.baseurl }}images/scribus.svg" alt="scribus" /><span>Scribus</span></a></li>
  </ul>
</section>

<section id="about" markdown="block">
  <img src="{{ site.baseurl }}images/me.svg" />
  <h1>Iune Trecet Obeso</h1>
  {{ content }}
  <ul class="iconList">
    <li><img src="{{ site.baseurl }}images/debian.svg" alt="debian" /></li>
    <li><img src="{{ site.baseurl }}images/copyleft.svg" alt="copyleft" /></li>
    <li><img src="{{ site.baseurl }}images/caligraphy.svg" alt="caligraphy" /></li>
    <li><img src="{{ site.baseurl }}images/serigraph.svg" alt="serigraph" /></li>
    <li><img src="{{ site.baseurl }}images/craft.svg" alt="craft" /></li>
    <li><img src="{{ site.baseurl }}images/coffee.svg" alt="coffee" /></li>
    <li><img src="{{ site.baseurl }}images/driving.svg" alt="driving" /></li>
    <li><img src="{{ site.baseurl }}images/series.svg" alt="series" /></li>
  </ul>
</section>


<section id="contact">
  <h1>{{ site.t[page.lang].want }}Diseinuren bat behar al duzu?</h1>
  <a href="mailto:contact@iune.info">{{ site.t[page.lang].write }}idatzi nazazu!</a>
</section>
